<html>
    <head>
    </head>
    <body>
        <form method="post" action="/">
            <input name="message" placeholder="Type your message here..." />
            <button>Submit</button>
        </form>

        <ul>
            {% for message in messages %}
            <form method="post" action="/delete">
                <li>{{ message }} <button>DELETE</button></li>
                <input type="hidden" name="message" value="{{ message }}">
            </form>
            {% endfor %}
        </ul>
    </body>
</html>
